body {
    font-family: 'Ubuntu', sans-serif;
   
}
span {
    color: #7E2DD7;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
.intro {
    color: slategrey;
    font-size: 20px;
    margin-right:150px;
}
.bg1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.first {
    display: flex;
    padding-left: 30px;
    padding-top:30px;
    margin-bottom: 200px;

}
.second {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.image {
    height:40%;
    width:40%
}
.image2 {
    height:30%;
    width:30%;
    margin-right:150px;
}

a{
    background-image: linear-gradient( #5A5FDD, #7E2DD7);
    border: rgb(255, 255, 255); 
    border-radius: 5px;
    padding: 10px 18px;
    color: white;
    font-size: 17 px;
    text-decoration: none;

}

a:hover {
    background-image: linear-gradient( #F43369, #d8055a);
    border: rgb(255, 255, 255); 
    border-radius: 5px;
    padding: 10px 18px;
    color: white;
    font-size: 17 px;
}

.cardflex {
    display: flex;
}
.cards {
    box-shadow: 5px 5px 15px gray;
    border-left: 7px solid;
    border-image: linear-gradient(#fca5be, #db0058);
    border-image-slice: 1;
    border-radius: 5px;
    width: 50%;
    margin-right: 40px;
    margin-left: 40px;
    padding: 30px;
    padding-bottom: 50px;
}

.experience {
    margin: 30px;
    
}

.tittle {
    color: #FB6655;
    font-weight: bold;
}
footer p {
    text-align: center;
    color: slategrey;
    margin-top: 100px;
}
.intro2 {
    color: slategrey;
}